<div class='content'>
   <div class="content__cover">
      <div class="content__cover-image">
         <image src="<%= @book.image %>">
      </div>
   </div>

   <div class="content__info">
      <div class="content__table">
         <div class="content__table-item">
            <h4>Name:</h4>
            <p>
               <%= @book.name %>
            </p>
         </div>

         <div class="content__table-item">
            <h4>Author:</h4>
            <p>
               <%= @book.author.name %>
            </p>
         </div>

         <div class="content__table-item">
            <h4>Editorial:</h4>
            <p>
               <%= @book.gender.editorial.name %>
            </p>
         </div>

         <div class="content__table-item">
            <h4>Gender:</h4>
            <p>
               <%= @book.gender.name %>
            </p>
         </div>

         <div class="content__table-item">
            <h4>Price:</h4>
            <p>
               <%= @book.price %>
            </p>
         </div>

         <div class="content__table-item--desc">
            <h4>Review</h4>
            <p>
               <%= @book.review %>
            </p>
         </div>
      </div>

   </div>
</div>

<hr />
<%= link_to 'Back' , {:action=> 'index'} %>
  <%= link_to "Destroy Book", @book.id, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>