
<div>
   <image src="<%= @book.image %>">
   <p>
      <strong>Name:</strong> <%= @book.name %><br />
      <strong>Author:</strong> <%= @book.author.name %><br />
      <strong>Editorial:</strong> <%= @book.gender.editorial.name %><br />
      <strong>Gender:</strong> <%= @book.gender.name %><br />
      <strong>Price:</strong> <%= @book.price %><br />
   </p>

   <p>
      <h2><strong>Review</strong></h2>
      <%= @book.review %>
   </p>
</div>

<hr />

<%= link_to 'Back', {:action => 'index'} %>