<!DOCTYPE html>
<html>
  <head>
    <title>NicolBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/3145/premium/3145755.png?token=exp=1647704785~hmac=ef0e1b7ebbe4501eba91738e874f9fb5" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_tag 'application' %>
  </head>
  <body style="background-color: #FFFAF5">
    <%= yield %>
  </body>
</html>